<!DOCTYPE html>
<html lang="en">
  <head>

    <%- include ../partials/head %>

  </head>

  <body>
    <header>
      <nav class="navbar navbar-inverse navbar-fixed-top">

        <%- include ../partials/nav %>

      </nav>
    </header>
    <main>
      
    
    <div class="container">

      <div class="starter-template">
        <h1><%= burgerForm.title %></h1>
        <h2><%= burgerForm.orderID %></h2>
        <p class="lead">Use this form to build a burger.</p>
        <form class="form-horizontal" action="<%= burgerForm.burgerURL %>" method="<%= burgerForm.submitMethod %>">
        <fieldset>


        <!-- Text input-->

        <div class="form-group">
          <label class="col-md-4 control-label" for="meat">Meat</label>
          <div class="col-md-6">
            <select id="meat" name="meatid" class="form-control">
              <option value="1">Bison</option>
              <option value="2">Ground Brisket</option>
              <option value="3">Angus</option>
              <option value="4">Elk</option>
              <option value="6">Pork Belly</option>
              <option value="7">Pulled Pork</option>
            </select>
          </div>
        </div>

        <!-- Select Basic -->
        <div class="form-group">
          <label class="col-md-4 control-label" for="bread">Bread</label>
          <div class="col-md-6">
            <select id="bread" name="breadid" class="form-control">
              <option value="1">Brioche</option>
              <option value="2">Whole Wheat</option>
              <option value="3">White Sesame</option>
              <option value="5">White</option>
              <option value="6">Focacchia</option>
              <option value="7">None</option>
            </select>
          </div>
        </div>

        <!-- Select Basic -->
        <div class="form-group">
          <label class="col-md-4 control-label" for="temperature">Meat Temperature</label>
          <div class="col-md-6">
            <select id="temperature" name="temperature" class="form-control">
              <option value="Rare">Rare</option>
              <option value="Medium_Rare">Medium_Rare</option>
              <option value="Medium">Medium</option>
              <option value="Medium_Well">Medium_Well</option>
              <option value="Well_Done">Well_Done</option>
            </select>
          </div>
        </div>        


        <div class="form-group">
          <label for="cheese">Cheese</label>
          <div class="checkbox-div" id="cheese">
            <div class="item">
              <input type="checkbox" value="8" name="cheeseid">
              <p>None</p>
            </div>
            <div class="item">
              <input type="checkbox" value="1" name="cheeseid">
              <p>Muenster</p>
            </div>
            <div class="item">
              <input type="checkbox" value="2" name="cheeseid">
              <p>Swiss</p>
            </div>
            <div class="item">
              <input type="checkbox" value="3" name="cheeseid">
              <p>Blue</p>
            </div>
            <div class="item">
              <input type="checkbox" value="4" name="cheeseid">
              <p>American</p>
            </div>
            <div class="item">
              <input type="checkbox" value="5" name="cheeseid">
              <p>Cheddar</p>
            </div>
            <div class="item">
              <input type="checkbox" value="6" name="cheeseid">
              <p>Queso Blanco</p>
            </div>
            <div class="item">
              <input type="checkbox" value="7" name="cheeseid">
              <p>Emmentaler</p>
            </div>
          </div>
        </div>



        <div class="form-group">
          <label for="topping">Toppings</label>
          <div class="checkbox-div" id="topping">
            <div class="item">
              <input type="checkbox" value="17" name="toppingid">
              <p>None</p>
            </div>
            <div class="item">
              <input type="checkbox" value="1" name="toppingid">
              <p>Tomatoes</p>
            </div>
            <div class="item">
              <input type="checkbox" value="2" name="toppingid">
              <p>Caramelized Onions</p>
            </div>
            <div class="item">
              <input type="checkbox" value="3" name="toppingid">
              <p>Dijon Mustard</p>
            </div>
            <div class="item">
              <input type="checkbox" value="4" name="toppingid">
              <p>Lettuce</p>
            </div>
            <div class="item">
              <input type="checkbox" value="5" name="toppingid">
              <p>Pickles</p>
            </div>
            <div class="item">
              <input type="checkbox" value="6" name="toppingid">
              <p>Bacon</p>
            </div>
            <div class="item">
              <input type="checkbox" value="7" name="toppingid">
              <p>Hash Browns</p>
            </div>
            <div class="item">
              <input type="checkbox" value="8" name="toppingid">
              <p>Fried Egg</p>
            </div>
            <div class="item">
              <input type="checkbox" value="9" name="toppingid">
              <p>Grilled Onions</p>
            </div>
            <div class="item">
              <input type="checkbox" value="10" name="toppingid">
              <p>Ketchup</p>
            </div>
            <div class="item">
              <input type="checkbox" value="11" name="toppingid">
              <p>Maple Syrup</p>
            </div>
            <div class="item">
              <input type="checkbox" value="12" name="toppingid">
              <p>Sunny Side Up Egg</p>
            </div>
            <div class="item">
              <input type="checkbox" value="13" name="toppingid">
              <p>Pickled Jalpenos</p>
            </div>
            <div class="item">
              <input type="checkbox" value="14" name="toppingid">
              <p>Roasted Red Peppers</p>
            </div>
            <div class="item">
              <input type="checkbox" value="15" name="toppingid">
              <p>Massaged Kale</p>
            </div>
            <div class="item">
              <input type="checkbox" value="16" name="toppingid">
              <p>Red Onions</p>
            </div>
          </div>
        </div>



        <!-- orderid -->
        
          <input type="hidden" name="orderid" value="<%= orderID %>">
        


        <!-- Button -->
        <div class="form-group">
          <label class="col-md-4 control-label" for="submit">Submit</label>
          <div class="col-md-4">
            <button id="submit" type="submit" class="btn btn-lg btn-success">Burger Me!</button>
          </div>
        </div>

        </fieldset>
        </form>
  
      </div>


    </div><!-- /.container -->



    </main>

    
    <%- include ../partials/footer %>

</body></html>