<!DOCTYPE html>
<html lang="en">
  <head>

    <%- include ../partials/head %>

  </head>
  <body>
    
    <header>
      <nav class="navbar navbar-inverse navbar-fixed-top">

        <%- include ../partials/nav %>

      </nav>
    </header>
    <div class="container">


      <div class="wrapper">
        
        
          <h2 style="padding: 20px 0 0 40px">Order Numbers</h2><br>
          <% burgerData.forEach((x, index) => { %>
          <div class="inner-orderbox">
            <h3 class="list-inline"><a href="/burgers/<%= index + 1 %>"> <%= x.orderid %></a></h3>
          </div>
          <% }) %>
  
      </div>




    </div><!-- /.container -->


  <%- include ../partials/footer %>
  
</body></html>